body{
    background-color: #424343;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* color: white; */
    background-color: #b9810890;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="file"],
button {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}




.registration-item {
    width: 500px; /* Fixed width */
    height: 500px; /* Fixed height */
    border: 1px solid rgb(252, 28, 28);
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden; /* Ensure overflow is hidden to contain images */
}

.registration-item img {
    width: 100%; /* Make the image fill its parent container */
    height: 100%; /* Make the image fill its parent container */
    object-fit: contain; /* Maintain aspect ratio and contain the entire container */
    display: block;
}